/* Fonts */

.fs-45 {
  font-size: 45px !important;
}

.fs-35 {
  font-size: 35px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-25 {
  font-size: 25px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-15 {
  font-size: 15px !important;
}

/* Colors */

.c-dark {
  color: #1f1f1f  !important;
}

.c-white {
  color: #ffffff  !important;
}

.fw-600 {
  font-weight: 600  !important;
}

/* Sizes for Padding */

.ptb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.pl-20 {
  padding-left: 20px  !important;
  padding-right: 20px  !important;
}