@import "./reset.css";
@import "./design.css";

.header {
  background-color: #252525;
  padding: 15px;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
