/* Reset */

body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

a, li {
  display: block;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Georgia, Times, serif;
  color: #1f1f1f;
}